body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(230, 17%, 14%);
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.topbar { 
    width: 100%;
    background-color: hsl(232, 19%, 15%);
}

.light-theme {
    background-color: hsl(0, 0%, 100%);
    color: hsl(230, 17%, 14%);
}

.dark-theme {
    background-color: hsl(230, 17%, 14%);
    color: hsl(0, 0%, 100%);
}

#top-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#bottom-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.cardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}




@media (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 1440px;
    }

    .card {
        background-color: hsl(228, 28%, 20%);
        border-radius: 10px;
        padding: 20px;
    }

    .cardRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    
    }

}

@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 380px;
    }

    #top-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        width: 100%;
    }

    #bottom-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        width: 100%;
    }

}

